@model bai4_webbanhang.Models.Product

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display</h1>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImageUrl" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">Name: @Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">@Model.Price</span>
                    <span>@Model.Price</span>
                </div>
                <p class="lead">@Model.Description</p>
                @* <form asp-action="AddtoCart" asp-controller="ShoppingCart" asp-route-id="@Model.Id" >
                    <div class="d-flex">
                        <input class="form-control text-center me-3" value="1" name="quantity" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Buy
                        </button>
                    </div>
                </form> *@
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button asp-action="AddToCart" asp-controller="ShoppingCart" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>